<div class="footer">
  <div class="footerTitle">
    <h3><span class="halfTitle">Phoenix</span> Films</h3>
  </div>
  <div class="footerInfo">
    <div class="footerContainer">
      <p class=" footerHeading">
        PRODUCTION • MEDIA • MARKETING
      </p>
    </div>
    <div class="line-separator"></div>
    <div class="footerContainer">
      <ul class="pageLinks">
        <li><a href="/news">NEWS</a></li>
        <li><a href="/commercials">COMMERCIALS</a></li>
        <li><a href="/about">ABOUT</a></li>
      </ul>
    </div>
    <div class="line-separator"></div>
    <div class="footerContainer">
      <div class="footerSocial">
        <ul>
          <li>
            <a href="#" id="fbLink" class="social-icons">
              <%= render_svg("facebook500.svg")%>
            </a>
          </li>
          <li>
            <a href="#" class="social-icons">
              <%= render_svg("Twitter500.svg")%>
            </a>
          </li>
          <li>
            <a href="#" class="social-icons">
              <%= render_svg("Vimeo500.svg")%>
            </a>
          </li>
          <li>
            <a href="#" class="social-icons">
              <%= render_svg("Vine500.svg")%>
            </a>
          </li>
          <li>
            <a href="#" class="social-icons">
              <%= render_svg("youTube500.svg")%>
            </a>
          </li>
          <li>
            <a href="#" class="social-icons">
              <%= render_svg("instaGram500.svg")%>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footerContainer policy">
      <p>
        Copyright (c) 2016 Copyright Holder All Rights Reserved.
      </p>
    </div>
  </div>
</div>
