<!DOCTYPE html>
<html>
<head>
  <title>Phoenix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
  <div id='cssmenu'>
    <ul>
       <li class="homeButton"><a href='/' class="navHome">Home</a></li>
       <li><a href='/about' class="navAbout">About</a></li>
       <li><a href='/media' class="navMedia">Media</a></li>
       <li><a href='/news' class="navNews">News</a></li>
       <li><a href='/commercials' class="navCommercials">Commercials</a></li>

       <!-- <li><a href='/contact'>Contact</a></li> -->
    </ul>
  </div>
</header>
<body>

<%= yield %>
<%= render 'footer'  unless @disable_foot %>

</body>

<script type="text/javascript">

  $(document).ready(function() {

    var pageName = document.location.href.match(/[^\/]+$/);  //Just run the match, no referencing the first index
    if (!pageName) { //check if there is not a match with a falsey check (could use (pageName===null)
        $( ".navHome" ).addClass( "selectedPage" );
    } else {
        switch (pageName[0]) {
      case 'news':
        $( ".navNews" ).addClass( "selectedPage" );
        console.log("news");
        break;
      case 'media':
        $( ".navMedia" ).addClass( "selectedPage" );
        console.log("media");
        break;
      case 'about':
        $( ".navAbout" ).addClass( "selectedPage" );
        console.log("about");
        break;
        case 'commercials':
          $( ".navCommercials" ).addClass( "selectedPage" );
          console.log("commercials");
          break;
      default:
        console.log("none");
       }
    };
  });

</script>
</html>
